.idea

# Capybara/Rspec
capybara_rspec/browser_options/.idea/
capybara_rspec/browser_options/log/
capybara_rspec/browser_options/mkmf.log
capybara_rspec/browser_options/Gemfile.lock
capybara_rspec/browser_options/trueautomation-capybara.iml
capybara_rspec/browser_options/trueautomation.json

# Java/Maven
java_maven/browser_options/.idea/
java_maven/browser_options/target/
java_maven/browser_options/log/
java_maven/browser_options/trueautomation-testng.iml
java_maven/browser_options/trueautomation.json

# Java/Gradle
java_gradle/browser_options/.idea/
java_gradle/browser_options/.gradle/
java_gradle/browser_options/build/
java_gradle/browser_options/log/
java_gradle/browser_options/trueautomation-java-gradle.iml
java_gradle/browser_options/trueautomation.json

# JavaScript/WDIO
javascript_wdio/capabilities/.idea/
javascript_wdio/capabilities/node_modules/
javascript_wdio/capabilities/log/
javascript_wdio/capabilities/package-lock.json
javascript_wdio/capabilities/trueautomation.log
javascript_wdio/capabilities/trueautomation.json

# JavaScript
javascript/browser_options/.idea/
javascript/browser_options/node_modules/
javascript/browser_options/log/
javascript/browser_options/package-lock.json
javascript/browser_options/trueautomation.log
javascript/browser_options/trueautomation.json
